<div class="offset2"></div>
  
<div class="light-wrapper">

	<div class="container inner bp0 tp0">
		<h1 class="intro text-right">{{toUpperCase title}}</h1>
		<h3 class="text-left">
			<a href="../{{prevNext.prev}}/" title="{{toUpperCase prevNext.prev}}"><< Prev</a> &nbsp; 
			<a href="../{{prevNext.next}}/" title="{{toUpperCase prevNext.next}}">Next >></a>
		</h3>
		<!--
		<p class="lead main text-center">Patagonia Home  specializes in the art and assembly of exotic wood furniture and stylish upholstery pieces designed for a diverse clientele base all over the world.</p> -->

		<div class="row">
			
			<div class="item">

				<div class="fotorama"
				data-autoplay="5000"
				data-keyboard="true"
				data-arrows="true"
				data-click="false"
				data-swipe="true"
				data-nav="thumbs"
				data-fit="cover"
				data-transition="slide"
				data-thumbwidth="90"
				data-thumbheight="50">
				{{#if showSmall}}
				{{#each ../data.md}}
					<a href="/public/catalog/{{../data.parent}}/{{this}}"><img src="/public/catalog/{{../data.parent}}/{{this}}" alt="/public/catalog/{{../data.parent}}/{{../data.title}} {{@index}}" /></a> 
				{{/each}}
				{{else}}
				{{#each ../data.lg}}
					<a href="/public/catalog/{{../data.parent}}/{{this}}"><img src="/public/catalog/{{../data.parent}}/{{this}}" alt="/public/catalog/{{../data.parent}}/{{../data.title}} {{@index}}" /></a> 
				{{/each}}
				{{/if}}
				</div>

		    <!--
				<img src="/public/catalog/{{data.parent}}/{{#if showSmall}}{{data.md.[0]}}{{else}}{{data.lg.[0]}}{{/if}}" alt="{{title}}" class="img-responsive">
			-->
			
			</div>

		</div>

	</div>
	<!-- /.container -->
	<div class="divide30"></div>

	<div class="container inner tp0">

		<h1 class="post-title">{{data.desc}}</h1>

<!--
		<div class="row">
			<div class="col-sm-9">
				<p>{{data.description}}</p>
			</div>

			<div class="col-sm-3 lp30">
				<ul class="item-details">
					<li>
						<h3>Date</h3>
						02 May 2013
					</li>
					<li>
						<h3>Categories</h3>
						Conceptual, Still Life
					</li>
				</ul>
			</div>
		</div>
-->



	</div>


</div>
<!-- /light-wrapper -->
